:root {
    --column-number: 2;
    --square-size: 100%;
    --total-width: 80%;
    --total-height: 100%;
    --puissance4-height: 85%;
    --header-height: 100px;
    --player1-color: red;
    --player2-color: yellow;
    --text-border-color: black;
    --background-color: white;
    --text-border:
            var(--text-border-color) 1px 0,
            var(--text-border-color) -1px 0,
            var(--text-border-color) 0 1px,
            var(--text-border-color) 0 -1px,
            var(--text-border-color) 1px 1px,
            var(--text-border-color) 1px -1px,
            var(--text-border-color) -1px 1px,
            var(--text-border-color) -1px -1px;
    height: 100%;
}

html {
    width: 100%;
    height: 90%;
}

body {
    display: grid;
    grid-template-rows: var(--header-height) 1fr;
    grid-gap: 2%;
    width: 100%;
    height: 98%;
    margin: 0 auto 0 auto;
    background-color: var(--background-color);
}

header {
    display: table;
    width: 100%;
    height: 100%;
    margin: 0 auto auto auto;
    text-align: center;
    vertical-align: middle;
}

h1 {
    display: table-cell;
    height: 100%;
    font-size: 8vw;
    margin: 0;
    color: red;
    text-transform: uppercase;
    vertical-align: middle;
    text-shadow: var(--text-border);
}

#gamePlay {
    display: grid;
    grid-template-columns: auto var(--total-width) auto;
    grid-template-rows: var(--total-height);
    grid-gap: 2%;
    margin: auto;

    width: 100%;
    height: 100%;
}

.player {
    text-align: center;
    vertical-align: bottom;
    padding: 0 10px 0 10px;
}

#gameBoard {
    grid-column: 2 / 3;
    grid-row: 1;
    width: 100%;
    height: 100%;
    text-align: center;
}

#container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(var(--column-number), var(--square-size));
    grid-auto-rows: var(--square-size);
    border: 1px solid black;
}

#winner {
    display: none;
    grid-column: 2 / 3;
    grid-row: 1;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    text-shadow: var(--text-border);
    text-transform: uppercase;
}

h2 {
    text-align: center;
    vertical-align: middle;
    font-size: 7vw;
    width: 90%;
    margin: auto;
}

.square {
    display: flex;
    border: 1px solid black;
    background-color: blue;
    align-items: center;
}

.circle {
    width: 80%;
    height: 80%;
    margin: auto;
    border: 1px solid black;
    border-radius: 50%;
}

.noPlayer {
    background-color: var(--background-color);
}

.playerArea {
    display: grid;
    grid-template-columns: var(--square-size);
    grid-gap: 0.1%;
    margin: auto auto 0 auto;
    padding: 2%;
    border: 1px solid black;
    background-color: blue;
}

p {
    text-align: center;
    color: white;
    font-size: 200%;
    margin: auto;
}

#area1{
    margin-right: 0;
}

#area2 {
    margin-left: 0;
}

.piece {
    width: 80%;
    height: 15px;
    margin: auto;
    border: 0.1vw solid black;
    border-radius: 15px;
}

.playerName {
    font-size: 4vh;
}

.player1 {
    background-color: var(--player1-color);
}

.player2 {
    background-color: var(--player2-color);
}
